@charset "utf-8";

/**
 * @author Shayna Jamieson
 * @author Keller Flint
 * @author Bridget Black
 * @version 1.0
 * 2019-11-12
 * Last Updated: 2019-11-27
 * File name: admin_styles.css
 * Associated Files:
 *      admin_page.php
 *
 * Description:
 *      File contains CSS for the Admin Page's Bootstrap Overrides and custom styles.
 */

/* make email modal's subject box's text white */
#basic-addon3 {
    color: white;
}
/* override .bg-danger's bright red color with muted red */
.bg-danger {
    background-color: #c16062 !important;
    border-color: #c16062 !important;
}

/* email modal button styles */
#email-button {
    background-color: #f7aa35 !important;
    border-color: #f7aa35 !important;
    display: block;
    float: left;
    clear: both;
    height: 38px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-width: 400;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

/* email modal's message box*/
#email-body {
    margin-top: 15px;
    min-width: 100%;
}

/* make email modal's subject box dark */
#email-subject-background > span {
    background-color: #36454f;
}

/* make email modal's send button dark */
#email-send {
    background-color: #36454f;
    border-color: #36454f;
}

/* spacing for container containing Table Select Dropdown + Status Toggle + Email Button + Tables */
.entire-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

/* error spans on email modal */
#err-email-subject, #err-email-body {
    color: #c16062;
    white-space:nowrap;
    font-size: smaller;
    margin-bottom: 0;
}

footer {
    height: 150px;
    width: auto;
    background-color: #202020 !important;
    margin-top: 5%;
}

/* styles for admin_page image: new_admin_logo.png*/
img {
    width: 52%;
    height: 275px;
    display:block;
    margin:auto;
    /*background-size: cover;*/
    /*background: no-repeat;*/
}
/* Used for admin_page.php, volunteer_form.php, youth_form.php */
.input-group {
    margin-bottom: 2%;
}

/* admin page table selector: 'Summary' and email modal: 'Subject' styles */
.input-group-text {
    background-color: #f7aa35;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

/* toggle styles */
label {
    display: block;
    font-weight: bolder;
}

/* admin page logo image styles: new_admin_logo.png */
.logo-container {
    width: 100%;
    margin-bottom: 3%;
    justify-content: center;
    background-color: #6cb1c1;
}

/* email + member modal body: email message + member information layout styles */
.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

/* email + member modal header: email status + member name layout styles */
.modal-header {
    background-color: #36454f;
    color: white;
}

/* email + member modal layout */
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 90%;
    width: 100%;
}

/* vertical spacing on member modal body + light grey line */
#modal-body > label {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 11px;
    padding-bottom: 10px;
}

/* horizontal spacing placed on the member modal body 'values' */
#modal-body > label > p, #modal-body > label > input {
    margin-left: 4px;
}

/* member modal 'values' */
p {
    display: inline;
    font-weight: normal;
}

/* member modal save button */
#save {
    margin-left: 2px;
    background-color: #007F00 !important;
    border-color: #007F00 !important;
}

/* Choose table: None, Dreamer, Volunteer */
#select-form {
    margin-left: 0;
}

/*For the three toggle switch */
.switch-field {
    display: flex;
    /*margin-bottom: 36px;*/
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

/*For the three toggle switch */
.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

/*For the three toggle switch */
.switch-field input:checked + label {
    background-color: #f7aa35;
    box-shadow: none;
    color: white;
}

/*For the three toggle switch */
.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

/*For the three toggle switch */
.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

/*For the three toggle switch */
.switch-field label:hover {
    cursor: pointer;
}

/*For the three toggle switch */
.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/* admin page table header, dark styles */
th {
    background-color: #36454f;
    color: #fff;
    height: 50px;
}

/* admin page table rows */
tr {
    height: 50px;
}

/* hide all id 'keys' + 'values' && status in member modal body  */
#user_id, #volunteer_id, #dreamer_id, #contact_id0, #contact_id1, #contact_id2, #volunteer_active, #dreamer_active {
    display: none;
}
