@charset "utf-8";

/*
Authors: Shayna Jamieson, Bridget Black, Keller Flint
2019-11-12
Last Update: 2019-11-12
Version: 1.0
File Name: admin_styles.css
Associated File: admin_page.php
*/

.bg-danger {
    background-color: #c16062 !important;
    border-color: #c16062 !important;
}

.modal-header {
    background-color: #36454f;
    color: white;
}

#modal-body > label {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 11px;
    padding-bottom: 10px;
}

#modal-body > label > p, #modal-body > label > input {
    margin-left: 4px;
}

#save {
    margin-left: 2px;
    background-color: #007F00 !important;
    border-color: #007F00 !important;
}

#basic-addon3 {
    color: white;
}

#email-button {
    background-color: #f7aa35 !important;
    border-color: #f7aa35 !important;
    display: block;
    float: left;
    clear: both;
    height: 38px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    font-width: 400;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.entire-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#email-body {
    margin-top: 15px;
    min-width: 100%;
}

#email-subject-background > span {
    background-color: #36454f;
}

#email-send {
    background-color: #36454f;
    border-color: #36454f;
}



footer {
    height: 150px;
    width: auto;
    background-color: #202020 !important;
    margin-top: 5%;
}

.input-group-text {
    background-color: #f7aa35;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.input-group {
    margin-bottom: 2%;
}

.logo-container {
    width: 100%;
    margin-bottom: 3%;
    justify-content: center;
    background-color: #6cb1c1;
}

img {
    width: 52%;
    height: 275px;
    display:block;
    margin:auto;
    /*background-size: cover;*/
    /*background: no-repeat;*/
}

#err-email-subject, #err-email-body {
    color: #c16062;
    white-space:nowrap;
    font-size: smaller;
    margin-bottom: 0;
}

p {
    display: inline;
    font-weight: normal;
}

label {
    display: block;
    font-weight: bolder;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 90%;
    width: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

/* Choose table: None, Dreamer, Volunteer */
#select-form {
    margin-left: 0;
}

/*For the three toggle switch */
.switch-field {
    display: flex;
    /*margin-bottom: 36px;*/
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #f7aa35;
    box-shadow: none;
    color: white;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

th {
    background-color: #36454f;
    color: #fff;
    height: 50px;
}

tr {
    height: 50px;
}

/* */
#user_id, #volunteer_id, #dreamer_id {
    display: none;
}