@charset "utf-8";

/**
 * @author Shayna Jamieson
 * @author Keller Flint
 * @author Bridget Black
 * @version 1.0
 * 2019-10-29
 * Last Updated: 2019-12-08
 * File name: index_styles.css
 * Associated Files:
 *      index.php
 *
 * Description:
 *      File contains iD.A.Y.Dream Youth Organization's Admin Login page's Bootstrap overrides and custom styles.
 */

/* MEDIA QUERIES FIRST */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bottom-button-containers {
        margin-left: 7%;
    }

    #description-text {
        padding-left: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bottom-button-containers {
        margin-left: 8%;
    }

    #description-text {
        padding-left: 11%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bottom-button-containers {
        margin-left: 8%;
    }

    #description-text {
        padding-left: 11%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bottom-button-containers {
        margin-left: 12%;
    }

    #description-text {
        padding-left: 15%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bottom-button-containers {
        margin-left: 12%;
    }

    #description-text {
        padding-left: 15%;
    }
}

/* POST MEDIA QUERY AREA */

/* description text styles */
#body-text-row {
    margin-bottom: 7%;
}

/* Dreamer and Volunteer sign up form buttons */
.bottom-buttons {
    color: floralwhite !important;
    background-color: #202020 !important;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #202020 !important;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    letter-spacing: 0.02vw;
    margin-bottom: 20px;
    width: 50%;
}

/* admin login button */
.buttons {
    color: #202020 !important;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid #202020 !important;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    letter-spacing: 0.02vw;
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url("../images/index_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* description text for admin login page */
#description-text {
    width: 87%;
}

/* admin login page background image */
img {
    max-width: 100%;
    max-height: 100%;
}

#error-login {
    color: #c16062;
    font-size: smaller;
}

/* admin login modal header to match admin page modals */
.modal-header {
    background-color: #36454f;
    color: white;
}