@charset "utf-8";

fieldset {
    border: 0;
}

.form-control {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #5DDEFA 3px;
}

.form-padding-styles:first-of-type {
    padding-top: 2%;
}

.form-padding-styles {
    padding-right: 25%;
    padding-left: 2%;
}

#form-scroll {
    overflow-y: scroll;
}

#form-title {
    font-family: 'Quicksand', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 4em;
    line-height: 1.1em;
    color: #666666;
}

label {
    color: #666666;
}

label::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

label:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

label::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

legend {
    font-family: 'Quicksand', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 1.1em;
}

@media (max-width: 576px) {
    #verticalBanner {
        display: none;
        visibility: hidden;
    }
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: solid #5DDEFA 4px;
}

#verticalBanner,  #volunteer-form {
    height: 75vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

