@charset "utf-8";

/**
 * @author Shayna Jamieson
 * @author Bridget Black
 * @author Keller Flint
 * @version 1.0
 * 2019-10-29
 * Last Updated: 2019-12-08
 * File name: styles.css
 * Associated files:
 *      volunteer_form.php
 *
 * Description:
 *      File contains iD.A.Y.Dream Youth Organization's associated files Bootstrap overrides and custom styles.
 */

/* style for the volunteer background check yes and no buttons */
#background-check-buttons {
    margin-top: 10%;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    letter-spacing: 0.3vw !important;
}

/* style for the background check container */
#background-check-container {
    margin-top: 5% !important;
    text-align: center;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    color: #202020 !important;
}

/* border for when the user checks no to background check and we display the error */
#bg-check-explain-no {
    border: 2px solid #c16062;
    border-radius: 5px;
    padding: 5%;
    background-color: rgba(193, 96, 98, 0.2);
}

/* style for the background check no error message display */
#bg-check-no-container {
    margin-top: 5%;
    display: none;
    text-align: center;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
}

/* margin to background check question */
#bgc-sentence1 {
    margin-bottom: 3%;
}

/* styles all buttons on the volunteer page */
button[type="button"] {
    text-decoration: none !important;
    color: white !important;
    font-size: larger;
}

/* style for all volunteer buttons on active and hover events */
button[type="button"]:active, button[type="button"]:hover {
    text-decoration: underline !important;
}

/* styling for background check buttons to switch between black and white text */
#bg-check-btn-no, #bg-check-btn-no:active, #bg-check-btn-no:hover, #bg-check-btn-yes, #bg-check-btn-yes:active, #bg-check-btn-yes:hover, .btn-go-home, .btn-go-home:active, .btn-go-home:hover {
    background-color: #5b7978;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3vw;
}

/* styling for background check buttons to switch between black and white text */
#bg-check-btn-yes:active, #bg-check-btn-yes:hover, #bg-check-btn-no:active, #bg-check-btn-no:hover, .btn-go-home:active, .btn-go-home:hover  {
    color: black !important;
}

/* styling for the background check no button to redirect to IDAYDream web page */
.btn-go-home, .btn-go-home:active, .btn-go-home:hover  {
    margin-top: 4%;
    width: 50%;
}

/* styles for the volunteer form submit button */
button[type="submit"] {
    background-color: #5b7978;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3vw;
}

/* clear references button styles for hover and active */
.clear-reference:hover, .clear-reference:active {
    border-bottom: 1px solid black;
}

/* container borders for the three character references */
#container-for-ref-1, #container-for-ref-2, #container-for-ref-3 {
    border: 2px solid lightslategray;
    border-radius: 3px;
    padding: 10px !important;
}

/*
http://www.okler.net/forums/topic/check-box-change-color/
Followed some setup and class selection from a post by Jonas at the above link.
Using custom checkbox classes here and in the HTML allowed us to change the color of a checked box.
*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #5b7978;
    border-color: #5b7978;
}

/* styles the em stars that show required fields on the form */
em {
    color: #c16062;
}

/* starts the volunteer form as display none until the user chooses yes or no on background check */
#entire-form-container {
    display: none;
}

/* shows the <span> above checkboxes */
.err-checkbox {
    display: block;
}

/* takes normal border styling off of field sets throughout the form */
fieldset {
    border: 0;
}

/* styles for the volunteer form footer */
footer {
    height: 150px;
    width: auto;
    background-color: #202020 !important;
    display: none;
    margin-top: 7% !important;
}

/* styles for hidden spans that will toggle */
.hide-me {
    color: red;
    font-size: smaller;
    margin-bottom: 8px;
}

/* hides the <span> above checkboxes */
.hide-me {
    display: none;
}

/* new bridget stuff */
input[data-state="invalid"] {
    border-bottom: #c16062;
}

/*
https://stackoverflow.com/questions/22406661/how-to-make-one-circle-inside-of-another-using-css
Used logic from misterManSam on Stack overflow to put smaller circle inside of larger circle to override
browser rendering of radio buttons.
*/
input[type="radio"] {
    -webkit-appearance: none;
    border: 2px solid gray;
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 2px 0px gray inset;
}

input[type='radio']:before {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    top: 50%;
    left: 50%;
    margin: -4px 0px 0px -4px;
}

input[type='radio']:checked:before {
    background: #5b7978;
}

/* styles for the text inputs to have no text box and just an underline */
input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

/* styles for text boxes on focus */
input[type="text"]:focus {
    -webkit-box-shadow: none;
}

/* styles for text boxes web kit */
input[type="text"]::-webkit-validation-bubble-arrow {
    background: white;
    border-color: #444;
    box-shadow: none;
}

input[type="text"]::-webkit-validation-bubble {
    color: #eee;
    background: white;
}

/*
* Removes the diagonal lines in lower right corner of textarea boxes on Chrome 26 on OS X
*/
input[type="textarea"]::-webkit-resizer{
    display: none;
}

/* styles for the volunteer form jumbotron */
.jumbotron {
    background-image: url("../images/VOLUNTEER_LOGO.png");
    background-size: cover;
    width: auto;
    height: 400px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 0;
}

/* label font color throughout volunteer form */
label {
    color: #202020;
}

/* Internet Explorer 10-11  */
label:-ms-input-placeholder {
    color: black;
}

/* Microsoft Edge */
label::-ms-input-placeholder {
    color: black;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
label::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}

/* styles the font within the section legend headers */
.legend-text {
    text-align: center !important;
    font-size: 2em !important;
    font-family: Avantgarde, "Tex Gyre Adventor", "URW Gothic L", sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

/* styles the legend header containers */
.legend-container {
    background-color: #5b7978;
    border-radius: 3px;
    margin-top: 3%;
    margin-bottom: 2%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* adds bottom padding to all padding classes throughout the volunteer form */
.padding {
    margin-bottom: 3% !important;
}

/* dropdown border for invalid */
.red-border-drop {
    border-bottom: 1px solid #c16062 !important;
}

/* colors the individual reference section headers */
.ref-title {
    color: #5b7978;
}

/* gives bottom padding to all row classes*/
.row {
    margin-bottom: 2% !important;
}

/* styles the error spans for invalid form fields */
span {
    color: #c16062;
    font-size: smaller;
}

/* styles the submit policy at the bottom to be smaller font */
#submit-policy {
    font-size: smaller;
}

/* styles the summary for the page */
#summary {
    margin-top: 5% !important;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    display: none;
    border: 3px solid #5b7978;
    padding: 5% !important;
    margin-bottom: 5% !important;
}

/* styles the summary button on the success splash page */
#summary-button {
    width: 45% !important;
    margin-top: 3% !important;
    text-decoration: none;
    background-color: #5b7978;
    color: white !important;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    letter-spacing: 0.3vw;
}

/* styles the summary button on the success splash page*/
#summary-button:hover, #summary-button:active {
    color: black !important;
    text-decoration: none !important;
}

/* styles thank you message on success splash page */
#thank-you-message {
    margin-top: 2% !important;
    text-align: center !important;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
}

/* styles for hidden toggles */
#toggle-other-interests {
    display: none;
}

/* styles for hidden toggles */

#toggle-please-explain {
    display: none;
}

/* styles for hidden toggles */
#toggle-weekend-availability {
    display: none;
}

/* styles the font for the volunteer legend containers */
#volunteer-title {
    color: white;
    text-align: center !important;
    font-size: 5vw !important;
    white-space: nowrap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #volunteer-title {
        font-size: 10vw !important;
    }
}