@charset "utf-8";

/*Authors: Shayna Jamieson, Bridget Black, Keller Flint */
/*Version: 1.0*/
/*File Name: styles.css */

#background-check-buttons {
    margin-top: 10%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    letter-spacing: 0.3vw !important;
}

#background-check-container {
    margin-top: 5% !important;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#bg-check-no-container {
    margin-top: 5%;
    display: none;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#bgc-sentence1 {
    margin-bottom: 3%;
}

button[type="button"] {
    text-decoration: none !important;
    color: white !important;
    font-size: larger;
}

button[type="button"]:active, button[type="button"]:hover {
    text-decoration: underline !important;
}

#bg-check-btn-no, #bg-check-btn-no:active, #bg-check-btn-no:hover, #bg-check-btn-yes, #bg-check-btn-yes:active, #bg-check-btn-yes:hover {
    background-color: #5b7978;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
}

button[type="submit"] {
    background-color: #5b7978;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3vw;
}

.card-body {
    border-top: none !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: none !important;
}

.card-header {
    background-color: #5b7978 !important;
    border: none !important;
}

.clear-reference:hover, .clear-reference:active {
    border-bottom: 1px solid black;
}

/*
http://www.okler.net/forums/topic/check-box-change-color/
Followed some setup and class selection from a post by Jonas at the above link.
Using custom checkbox classes here and in the HTML allowed us to change the color of a checked box.
*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #5b7978;
    border-color: #5b7978;
}

em {
    color: #c16062;
}

#entire-form-container {
    display: none;
}

fieldset {
    border: 0;
}

footer {
    height: 150px;
    width: auto;
    background-color: #202020 !important;
    display: none;
    margin-top: 7% !important;
}

.hide-me {
    color: red;
    font-size: smaller;
    margin-bottom: 8px;
}

/*
https://stackoverflow.com/questions/22406661/how-to-make-one-circle-inside-of-another-using-css
Used logic from misterManSam on Stack overflow to put smaller circle inside of larger circle to override
browser rendering of radio buttons.
*/

input[type="radio"] {
    -webkit-appearance: none;
    border: 2px solid gray;
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 2px 0px gray inset;
}

input[type='radio']:before {
    position: absolute;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    top: 50%;
    left: 50%;
    margin: -4px 0px 0px -4px;
}

input[type='radio']:checked:before {
    background: #5b7978;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus {
    -webkit-box-shadow: none;
}

.jumbotron {
    background-image: url("../images/VOLUNTEER_LOGO.png");
    background-size: cover;
    width: auto;
    height: 400px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 0;
}

label {
    color: #666666;
}

label:-ms-input-placeholder { /* Internet Explorer 10-11  */
    color: black;
}

label::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

label::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.legend-text {
    text-align: center !important;
    font-size: 2em !important;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.3vw;
}

.legend-container {
    background-color: #5b7978;
    margin-top: 4%;
    margin-bottom: 2%;
    color: white;
}

/* hiding the span to count references until it has functionality  */
#ref-number {
    display: none;
}

.row {
    margin-bottom: 2% !important;
}

span {
    color: #c16062;
    font-size: smaller;
}

#submit-policy {
    font-size: smaller;
}

#toggle-other-interests {
    display: none;
}

#toggle-please-explain {
    display: none;
}

#toggle-weekend-availability {
    display: none;
}

#volunteer-title {
    color: white;
    text-align: center !important;
    font-size: 5vw !important;
    white-space: nowrap;
}




/*
************************** NOT CURRENTLY WORKING ***********
* change the icon from default triangle to calendar image
*/
/*input[type="date"]::-webkit-calendar-picker-indicator {*/
/*!*    THIS IS WHERE THE ICON GOES    *!*/
/*    background-image: url("../images/favicon-32x32.png");*/
/*    z-index: 1;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*
* removes the visible date spinner-button in the date input box
*/
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/*
* Removes the diagonal lines in lower right corner of textarea boxes on Chrome 26 on OS X
*/
input[type="textarea"]::-webkit-resizer{
    display: none;
}

input[type="text"]::-webkit-validation-bubble-arrow {
    background: #5edffa;
    border-color: #444;
    box-shadow: none;
}

input[type="text"]::-webkit-validation-bubble {
    color: #eee;
    background: #8de8fb;
}


/* new bridget stuff */
input[data-state="invalid"] {
    border-bottom: #c16062;
}

/*5DDEFA OLD BLUE COLOR*/

/* dropdown border for invalid */
.red-border-drop {
    border-bottom: 1px solid #c16062 !important;
}

/* hides the <span> above checkboxes */
.hide-me {
    display: none;
}

/* shows the <span> above checkboxes */
.err-checkbox {
    display: block;
}

