@charset "utf-8";

/**
 * @author Shayna Jamieson
 * @author Bridget Black
 * @author Keller Flint
 * @version 1.0
 * 2019-10-29
 * Last Update: 2019-12-08
 * File name: youth_styles.css
 * Associated Files:
 *      youth_form.php
 *
 * Description:
 *      File contains iD.A.Y.Dream Youth Organization's associated files Bootstrap overrides and custom styles.
 */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #youth-volunteer-title {
        font-size: 10vw !important;
    }
}


.btn {
    background-color: #6cb1c1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 55%;
    letter-spacing: 0.3vw;
}

#container-form-intro {
    background-color: #6cb1c1;
    margin-top: -4% !important;
    position: relative;
    z-index: 2;
    color: white;
    height: auto;
    max-width: 80vw;
}

em {
    color: #c16062;
}

footer {
    height: 150px;
    width: auto;
    background-color: #202020 !important;
}

#form-container {
    margin-top: 5%;
    margin-bottom: 6%;
    color: #202020 !important;
}

.form-intro {
    text-align: center !important;
    font-size: 1em !important;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

#form-intro-1 {
    padding-top: 8px !important;
}

#form-intro-2 {
    padding-bottom: 8px !important;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #212b31;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus {
    -webkit-box-shadow: none;
}

.jumbotron {
    background-image: url("../images/IDAYDREAM YOUTH_LOGO.png");
    background-size: cover;
    width: auto;
    height: 400px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 0;
}

.padding {
    margin-bottom: 3% !important;
}

.red-border-drop {
    border-bottom: 1px solid #c16062 !important;
}

#row-holds-submit-button {
    margin-top: 5% !important;
}

span {
    color: #c16062;
    font-size: smaller;
}

#summary {
    margin-top: 5% !important;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    text-align: center;
    display: none;
    border: 3px solid #6cb1c1;
    padding: 5% !important;
    margin-bottom: 5% !important;
}

#summary-button {
    width: 45% !important;
    margin-top: 4% !important;
}

#thank-you-message {
    margin-top: 2% !important;
    text-align: center !important;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
}

#youth-volunteer-title {
    color: white;
    text-align: center !important;
    font-size: 5vw !important;
    white-space: nowrap;
}