@charset "utf-8";

.btn {
    background-color: #6cb1c1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
}

#container-form-intro {
    background-color: #6cb1c1;
    margin-top: -5% !important;
    position: relative;
    z-index: 2;
    color: white;
    max-width: 40vw;
    height: auto;
}

#form-container {
    margin-top: 5%;
    margin-bottom: 10%;
}

#form-intro {
    text-align: center;
    font-size: 3vw;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: lighter;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #212b31;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus {
    -webkit-box-shadow: none;
}

.jumbotron {
    max-width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 0;
}

#jumbotron-image {
    max-width: 100%;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
}

.row {
    margin-bottom: 3% !important;
}

#row-holds-submit-button {
    margin-top: 4%;
}